
.background {
  position: relative;
  overflow: hidden;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../assets/bgimg.jpg'); /* Adjust the path to your image file */
  background-size: cover;
  background-position: center;
  z-index: -2; /* Ensure the background stays behind content */
}

.background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:  rgba(95, 170, 155, 0.404); /* Semi-transparent white overlay */
  z-index: -1; /* Ensure the overlay stays behind content but in front of the background image */
}